{% extends 'base.html' %}
{% block title %}You have logged out{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card text-white bg-info mb-3">
            <div class="card-header text-center">
                Log Out
            </div>
            <div class="card-body text-center">
                <p>
                    You have successfully logged out. Come back latter!
                </p>
            </div> 
        </div> 
    </div> 
</div>
{% endblock %} 